.App {
  text-align: center;
}
.container-laptop {
  display: none;
}
.container-phone {
  background-color: #1b1b1b;
  color: white;
  display: flex;
  flex-direction: column;
  width: 425px;
}

@media only screen and (min-width: 426px) {
  .container-phone {
    display: none;
  }
  div .container-laptop {
    display: flex;
    flex-direction: column;
    width: 1440px;
    background-color: black;
    color: white;
    z-index: -100;
    background-image: url(https://res.cloudinary.com/dlapk94rx/image/upload/v1587064208/hero_bg_dqdotw.png);
    background-repeat: no-repeat;
  }
}
